*.py[cod]
*.pyo
*.pyw
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
docs/_build/
*.log
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
*.sqlite3
*.db
db.sqlite3
hrms/db.sqlite3
.pytest_cache/
/.mypy_cache/
.coverage
.coverage.*
.cache/
.idea/
.vscode/
*.swp
*~
*.bak
Secret.txt
secret*.env
.env
.env.*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pem
*.key
.DS_Store
/ci_pgdata/
hrms.zip