services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - prod_pgdata:/var/lib/postgresql/data
    networks:
      - hrms-net

  web:
    build:
      context: .
    env_file:
      - .env.prod
    volumes:
      - static_volume:/srv/hrms/staticfiles
      - media_volume:/srv/hrms/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - hrms-net

volumes:
  prod_pgdata:
  static_volume:
  media_volume:

networks:
  hrms-net:
    driver: bridge
