<li>
    <div class="org-node-card {% if node.org.org_type == 'company' %}org-node-company{% elif node.org.org_type == 'department' %}org-node-department{% else %}org-node-team{% endif %}">
        <div class="node-header">{{ node.org.org_name }}</div>
        <div class="node-meta">{{ node.type_display }}</div>
        {% if node.manager_display %}
        <div class="node-badge">
            <i class="fa-solid fa-user"></i>
            {{ node.manager_display }}
        </div>
        {% endif %}
    </div>
    
    {% if node.children %}
    <ul>
        {% for child in node.children %}
            {% include "organization/tree_node.html" with node=child %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
